VITE_FIREBASE_API_KEY=AIzaSyB38GcqzNBXVwVNemUyPyf71LxissbYAzI
VITE_FIREBASE_AUTH_DOMAIN=smart-study-e4227.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smart-study-e4227
VITE_FIREBASE_STORAGE_BUCKET=smart-study-e4227.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=288102784225
VITE_FIREBASE_APP_ID=1:288102784225:web:52ef7278ec2b62b4f7aba0
VITE_FIREBASE_FIRESTORE_DATABASE_ID=G-QWT76BZ4GJ

GEMINI_API_KEY=AIzaSyAg_Wen9X4j1wI-GgTUUweCSo6G1IVrwkM
